body {
    margin: 0;
  }
  h1{
      font-size: medium;
      color: 	rgb(85,107,47);
  }
  #stripe {
      background-color: white;
      /* text-align: center; */
      height: 50px;
      color: black;
  }
  
  button {
      border: none;
      background: none;
      text-transform: capitalize;
      height: 100%;
      font-weight: 700;
      color:grey;
      letter-spacing: 1px;
      font-size: inherit;
      transition: all 0.3s;
      outline: none;
  }
  
  button:hover {
      color: white;
      background:green;
  }
  
  .selected {
      color: white;
      background:	rgb(85,107,47);
  }
  #next{
    background:#00FFFF;
  }
  #measure{
    background:	rgb(85,107,47);
    line-height: initial;
  }
  .input-textarea {
    width: 50%;
    height: 100px;
  }
#footer{
    background-color: aqua;
    height: 100px;
    text-align: center;
}